*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    width: 100vw;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;

}
.card{
    background-color: azure;
    border-radius: 6px;
    box-shadow: 3.5px 3.5px 6.5px rgb(104, 104, 104);
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;


}
.card img{
    width: 100%;

}
.title{
    font-size: 24px;
    padding: 15 px 0;
    text-align: center;
}
.card button{
    background-color: rgb(14,171, 249);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
}
.card button:hover{
    border: 1px solid rgb(14, 171, 249);
    background-color: transparent;
    color: rgb(14, 171, 249);
}